<div class="page-header">
  <h3>Users #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </dl>

    <div class="page-header">
        <dl class="dl-horizontal">
          <h3>My photos</h3>


          <dd><%= @user.email %></dd>
        </div>

      </div>
    </div>
